<script>
  import Button from '@smui/button/styled'
  import TopAppBar, {
    Row,
    Section,
    Title as AppTitle,
  } from '@smui/top-app-bar/styled'
  import Dialog, {Title, Content, Actions} from '@smui/dialog/styled'

  let dialog_opened = false
</script>

<svelte:head>
  <title>Hello, SMUI!</title>
</svelte:head>

<TopAppBar variant="static">
  <Row>
    <Section>
      <AppTitle>Hello, SMUI!</AppTitle>
    </Section>
  </Row>
</TopAppBar>

<div style="margin: 1em">
  <Button variant="outlined" on:click={() => (dialog_opened = true)}
    >Click me</Button
  >
</div>

<Dialog bind:open={dialog_opened}>
  <Title>Hi, SMUI!</Title>
  <Content>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi numquam
    maxime rem ipsam ea quae. Quia alias molestiae perferendis excepturi
    aspernatur laboriosam ab odio quas ex ipsam, error saepe ut!
  </Content>
  <Actions>
    <Button>OK</Button>
  </Actions>
</Dialog>

<style>
</style>
